chainlit==1.1.306
langchain==0.2.10
langchain_community==0.2.9
langchain_core==0.2.22
langchain_openai==0.1.17
langchain_qdrant==0.1.2
langchain_text_splitters==0.2.2
langgraph==0.1.9
python-dotenv==1.0.1
qdrant_client==1.10.1
arxiv
duckduckgo-search 
pubmed 
duckduckgo_search==5.3.1b1
PyMuPDF
xmltodict
aiosqlite
#numpy>=1.21.0
#pandas>=1.3.0
#scikit-learn>=0.24.2
#ragas>=0.1.0
